* {
    margin: 0;
    padding: 0;
    font-family: Playfair Display !important;
    box-sizing: border-box !important;
    border: none !important;
    text-transform: capitalize;
    text-decoration: none !important;
}

body {
    color: white;
    background-color: #B43F11 !important;
}





/* Fade-in effect for the whole page */
body {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    background-color: black;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        background-color: black;
    }

    to {
        opacity: 1;
        background-color: transparent;
    }
}


.cartmsg{
    width: 250px;
    background-color: rgb(32, 32, 34);
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1;
    display: none;
}


/* header section */
/* header section */
/* header section */
.navbar {
    width: 100%;
    min-height: 70px;
    background-color: #833517;
    display: flex;
    /* position: fixed; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.logo {
    height: 8vh;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #B43F11; */
}

.logo img {

    border-radius: 50%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 2px;
    padding-top: 6px;
    height: 60px;
    padding-bottom: 5px;

}

.logo h1 {
    /* padding-top: 5%; */
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.logo a {
    color: white;
}

.pages {
    width: 815px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

@media (max-width: 430px) {
    .pages .hidesmall {
        display: none;
    }
}

.pages a {
    text-decoration: none;
    margin: 3%;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;

}

.pages a:hover {
    color: rgb(252, 252, 198);
}


.icons {
    /* height: 10vh; */
    width: 266px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.icons a {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 3%;
    color: white;
}

/* header section */
/* header section */
/* header section */


/* Home page */
/* Home page */
/* Home page */
/* Home page */

.homecontainer {
    width: 100%;
    min-height: 510px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.homeleft {
    width: 44rem;
    /* height: 20rem; */
    margin: 2%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeleft p {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.homeleft h3 {
    font-size: 7em;
}

.homeleft button {
    width: 7rem;
    height: 2.2rem;
    color: white;
    margin-top: 2rem;
    background-color: #833517;
    box-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
}

.homeleft button:hover {
    background-color: rgb(36, 31, 31);
}

/* Media query for home left container which is inside home container */

@media (max-width: 739px) {
    .homeleft p {
        font-size: 2rem !important;
    }

    .homeleft h3 {
        font-size: 5rem !important;
    }


}

@media (max-width: 538px) {
    .homeleft p {
        font-size: 1.5rem !important;
    }

    .homeleft h3 {
        font-size: 4rem !important;
    }


}

@media (max-width: 412px) {
    .homeleft p {
        font-size: 1.5rem !important;
    }

    .homeleft h3 {
        font-size: 3.5rem !important;
    }


}

/* Media query for home left container which is inside home container */

.homeright {
    width: 26rem;
    height: 20rem;
    margin-bottom: 1%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* Applying animation */
    animation: changeBg 9s infinite;
    /* box-shadow: 5px 5px 5px 10px black; */
}

/* Keyframes to change the background image */
@keyframes changeBg {
    0% {
        background-image: url("home-img-1.png");
    }

    33% {
        background-image: url("home-img-2.png");
    }

    66% {
        background-image: url("home-img-3.png");
    }

    100% {
        background-image: url("home-img-1.png");
    }
}



/* Home page */
/* Home page */
/* Home page */
/* Home page */

/* Offer section */
/* Offer section */
/* Offer section */

.offercontainer {
    width: 100%;
    min-height: 50vh;
    background-color: #B43F11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.offer1 {
    width: 400px;
    height: 270px;
    margin: 0.7%;
    background: url(Offer1.jpg);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    flex-shrink: 4;
}

.offer1text {
    padding-left: 5%;
}

.offer1text button {
    width: 70%;
    height: 30px;
    background-color: #833517;
    color: white;
    margin-top: 7%;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;

}

.offer1text button:hover {
    background-color: rgb(36, 31, 31);
}

.offer2 {
    width: 400px;
    height: 270px;
    margin: .7%;
    background: url(Offer2.jpg);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

.offer2text {
    padding-left: 5%;
}

.offer2text button {
    width: 70%;
    height: 30px;
    background-color: #833517;
    color: white;
    margin-top: 7%;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;

}

.offer2text button:hover {
    background-color: rgb(36, 31, 31);
}

.offer3 {
    width: 400px;
    height: 270px;
    margin: 0.7%;
    background: url(Offer3.jpg);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

.offer3text {
    padding-left: 5%;
}

.offer3text button {
    width: 70%;
    height: 30px;
    background-color: #833517;
    color: white;
    margin-top: 7%;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

.offer3text button:hover {
    background-color: rgb(36, 31, 31);
}

/* Offer section */
/* Offer section */
/* Offer section */

/* Our shop section */
/* Our shop section */
/* Our shop section */
/* Our shop section */


.ourshopcontainer {
    background: url("ourshopbgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-color: #833517;
    display: flex;
    justify-content: center;
    align-items: center;


}

.ourshopcontainer h3 {

    font-size: 2rem !important;
    font-style: oblique !important;
}

/* Our shop section */
/* Our shop section */
/* Our shop section */

/* our cateory container */
/* our cateory container */
/* our cateory container */

.ourcategorycontainer {

    min-height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #B43F11;
    margin-top: 10px;
}

.categoryh2container {
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

.categoryh2container h2 {
    font-size: 3rem;
    text-shadow: 3px 3px 1px black;
    font-style: italic;
    font-weight: bolder;
}



/* second container second contianer */
/* second container second contianer */
/* second container second contianer */

.categoryimgcontainer {
    min-height: 17rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.categoryimgcontainer a{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.category1container {
    height: 20rem;
    width: 16rem;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.category1container:hover h4 {
    color: rgb(255, 255, 255) !important;

}

.category2container {
    height: 20rem;
    width: 16rem;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

}

.category2container:hover h4 {
    color: rgb(255, 255, 255) !important;
}

.category3container {
    height: 20rem;
    width: 16rem;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

}

.category3container:hover h4 {
    color: rgb(255, 255, 255) !important;
}

.category4container {
    height: 20rem;
    width: 16rem;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

}

.category4container:hover h4 {
    color: rgb(255, 255, 255) !important;
}


/* second container second contianer */
/* second container second contianer */
/* second container second contianer */




/* our cateory container */
/* our cateory container */
/* our cateory container */


/* our products container */
/* our products container */
/* our products container */
.ourproducth2 {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;

}




/* our products container */
/* our products container */
/* our products container */

/* about container */
.aboutcontainer {
    width: 100%;
    height: 12rem;
    background-image: url("ourshopbgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.aboutcontainer h2 {
    font-weight: bolder;
}


.aboutleft {
    height: 22rem;
    /* background-color: antiquewhite; */
}

.aboutright {
    min-height: 22rem;
    /* background-color: #694639; */
}

.welcome {
    /* font-weight: 500; */
}

.heading2 {
    color: rgb(36, 33, 33);
    font-weight: bold;
}

.readbtn {
    width: 30%;
    min-height: 2rem;
    background-color: #833517;
    color: white;
    border: 1px solid black !important;
    box-shadow: 2px 2px 2px black !important;
}

.readbtn:hover {
    background-color: rgb(36, 31, 31);

}





.galleryh2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}




.contactcont {
    width: 20rem;
    min-height: 12rem;
    border: 1px solid black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    color: rgb(27, 25, 25);
    gap: 0.5rem;
    margin: 1rem;

}

.contactcont h3 {
    color: black;
}



.formcontainer {
    border: 2px solid black !important;

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #833517;
    height: 5rem;
}