.cartheading {
    padding: 20px 0px 20px 100px;
    text-decoration: underline !important;
    letter-spacing: 5px;
    font-weight: bolder;

}

.cartoutercontainer {
    display: flex;
    justify-content: space-between;
}

.calculationdiv {
    /* background-color: yellow; */
    box-shadow: 2px 2px 2px black !important;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}


.cartcontainer {
    padding: 0px 20px 150px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont {
    border: 1px solid black !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
}

.cartimg {
    display: flex;
    flex-direction: column;
    width: 200px;
}

/* .cartitemcontainer {
    /* border: 2px solid black !important; */
/* padding: 20px; */
/* } */

footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
}

.remove-item-btn {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(36, 31, 31);
    transition: transform 0.1s linear;
}

.remove-item-btn:hover {
    transform: scale(1.1);
}

.prodname {
    font-weight: bolder;
}

.sub-total {
    font-weight: bolder;
}

.placeorder {
    padding: 10px;
    background-color: rgb(36, 31, 31);
    color: white;
    border-radius: 10px;
}





#checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#checkoutForm button {
    padding: 10px;
    background-color: rgb(36, 31, 31);
    color: white;
}

.orderform {
    display: none;
}

.orderstatus {
    display: inline-block;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(32, 32, 34);
    display: none;
}